@font-face {
	font-family: 'Lovelo';
	src: url('../fonts/Lovelo/Lovelo-Black.eot');
	src: url('../fonts/Lovelo/Lovelo-Black.woff2') format('woff2'),
		url('../fonts/Lovelo/Lovelo-Black.woff') format('woff'),
		url('../fonts/Lovelo/Lovelo-Black.ttf') format('truetype'),
		url('../fonts/Lovelo/Lovelo-Black.otf') format('opentype');
}

@font-face {
	font-family: 'Asap';
	src: url('../fonts/Asap/eot/Asap-Regular.eot');
	src: url('../fonts/Asap/woff2/Asap-Regular.woff2') format('woff2'),
		url('../fonts/Asap/woff/Asap-Regular.woff') format('woff'),
		url('../fonts/Asap/ttf/Asap-Regular.ttf') format('truetype'),
		url('../fonts/Asap/otf/Asap-Regular.otf') format('opentype');
}

html,
body {
	margin: 0;
	padding: 0;

	font-family: 'Asap', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lovelo', sans-serif;
}

section {
	
}

.full-h {
	height: 100vh;
}

.flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.f-row {
	flex-direction: row;
}
