body {
  background-color: white;
  text-align: center;
}

li {
  list-style-type: none;
}

img.nav-icon {
  height: 20px;
}

aside {
  height: 100%;
  width: 20%;
  position: fixed; /* fixed sidebar, doesn't move on scroll */
  z-index: 1; /* stays on top */
  left: 0;
  background-color: grey;
  overflow-x: hidden; /* disables horizontal scroll */
  top: 0;
  text-align: left;
  visibility: hidden;
}

ul {
  height: 100%;
  transform: translate(0%, 35%);
}

li {
  visibility: hidden;
}

li img {
  visibility: visible;
}

li:hover {
  visibility: visible;
  color: purple;
}

.title {
  float: center;
  background-color: blue;
  position: absolute;
  /*transform: translate(0%, 50%);
  height: 100%;
  width: 100%;*/
  padding: 25% 40%;
}

.homepage-quote {
  float: right;
  background-color: green;
}

.homepage-quote-author {
  float: right;
  background-color: purple;
}
