html, body {
	height: 100%;
	display: flex;
	color: white;
	font-family: courier;

	max-width: 100%;
	overflow-x: hidden;

	/*
	 * img credits:
	 * https://wallpaperaccess.com/british-columbia
	 */
	background-image: url("images/pictures/home-background.jpeg");

	background-color: black;
	background-repeat: no-repeat;
	background-position: 0% 60%;
	background-attachment: fixed;
}

#home-content {
	/* horizontal centering */
	width: 100%;
	text-align: center;

	/* vertical centering */
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}


/*
 * NAVIGATION
 */
nav {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 15%;
	margin-left: 2%;
}

nav .nav-icon a {
	text-decoration: none;
}

.nav-icon {
	display: inline-block;
	height: 36px;
	line-height: 36px;
	width: 100%;
	padding-bottom: 5px;
}

nav .nav-icon p {
	font-size: 12px;

	float: auto;
	visibility: hidden;
	
	margin-top: 0px;
	margin-bottom: 0px;
}

nav .nav-icon img {
	float: left;
	width: 36px;
	height: 36px;
	padding-right: 12px;
}

nav .nav-icon a:hover + p {
	visibility: visible;
}


/*
 * HEADER FORMATS
 */
.impact {
	font-family: impact;
	margin: 0px 0px 0px 0px;
}

h1 {
	font-size: 200px;
}

h3 {
	font-size: 65px;
}

h5 {
	font-size: 25px;
}

/*
 * HOMEPAGE QUOTE
 */
#home-quote {
	width: 300px;
	height: 300px;
	
	position: absolute;
	bottom: 0%;
	right: 0%;
	margin-right: 5%;
	margin-bottom: 4%;

	border-radius: 50%;
	border-style: solid;
	border-width: 5px;
	border-color: blue;

	-webkit-transition: width 0.5s, height 0.5s;
}

#home-quote:hover {
	border-color: white;
	width: 350px;
	height: 350px;
}

#home-quote-content {
	margin-left: 12%;
	margin-top: 25%;
	width: 80%;
}

#home-quote-content a {
	text-decoration: none;
	color: white;
}

#home-quote-content a p {
	text-align: center;
	font-size: 30px;
}

#home-quote-author {
	clear: both;
	margin-right: 10px;
	margin-top: 10%;
}

#home-quote-author p {
	text-align: center;
	font-size: 15px;
}

/*
 * ICONS
 */
.icon img {
	width: 36px;
	height: 36px;
}

.icon p {
	font-size: 12px;
}
