html, body {
	height: 100%;
	display: flex;

	background-color: black;
	color: white;	
	font-family: arial;
}

#home-content {
	width: 100%;
	text-align: center;

	position: absolute;
	top: 50%;
	transform: translateY(-70%);
}


/*
 * NAVIGATION
 */
nav {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 15%;
	margin-left: 2%;
}

nav .nav-elem a {
	text-decoration: none;
}

nav .nav-elem {
	display: inline-block;
	height: 36px;
	line-height: 36px;
	width: 100%;
	padding-bottom: 5px;
}

nav .nav-elem p {
	font-family: courier;
	font-size: 12px;

	float: auto;
	visibility: hidden;
	
	margin-top: 0px;
	margin-bottom: 0px;
}

nav .nav-elem img {
	float: left;
	width: 36px;
	height: 36px;
	padding-right: 12px;
}

nav .nav-elem a:hover + p {
	visibility: visible;
}


/*
 * HEADER FORMATS
 */
h1 {
	font-family: impact;
	font-size: 150px;
	
	margin-bottom: 20px;
}
