extends layout

block content
	nav.navbar.navbar-expand-md.navbar-light.bg-light.fixed-top
		a.navbar-brand(href='#') Navbar
		button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo02', aria-controls='navbarTogglerDemo02', aria-expanded='false', aria-label='Toggle navigation')
			span.navbar-toggler-icon
		#navbarTogglerDemo02.collapse.navbar-collapse
			ul.navbar-nav.mr-auto.mt-2.mt-lg-0
				li.nav-item
					a.nav-link(href='#')
						| Home 
						span.sr-only (current)
				li.nav-item
					a.nav-link(href='#') Link

	section#about.full-h.flex.f-row
		div
			p Hey, I'm Sarvesh
			img(src='./')
		div
			p Background & edu
			p Career interests
			p General about

	section#projects.flex
		div
			// featured projects
		div
			// api call for github stats

	section#trading.flex
		div
			// api call for alpaca stats
		div
			p description

	footer
		div
			// links
		div
			// copyright with api call for year
		div
			// email subscription
	
