extends layout

block content
	nav.navbar.navbar-expand-md.navbar-light.bg-light
		a.navbar-brand(href='#') Navbar
		button.navbar-toggler(type='button', data-toggle='collapse',
				data-target='#navbarTogglerDemo02',
				aria-controls='navbarTogglerDemo02', aria-expanded='false',
				aria-label='Toggle navigation')
			span.navbar-toggler-icon
		#navbarTogglerDemo02.collapse.navbar-collapse
			ul.navbar-nav.mr-auto.mt-2.mt-lg-0
				li.nav-item
					a.nav-link(href='#')
						| Home 
						span.sr-only (current)
				li.nav-item
					a.nav-link(href='#') Link

	section#about.flex
		div.flex
			h1 Hey, I'm Sarvesh
			img(src='./')
		div.flex
			p
				| I was born and raised in the Silicon Valley, and I'm currently
				| pursuing undergraduate degrees in computer science and math at 
				a(href='https://www.utexas.edu/') The University of Texas at Austin
				| . Alongside my classes, I'm an Incubator lead at 
				a(href='https://www.txconvergent.org/') Texas Convergent 
				| and the Technology Director at the 
				a(href='https://www.texasakpsi.com/') Iota chapter 
				| of Alpha Kappa Psi. After graduation, I hope to work at a disruptive
				| technology company.
			p
				| Academically speaking, I'm interested in ___.
				| My main technical skills include ___.
			p
				| In my free time, I enjoy lifting weights, working on side projects, 
				| reading, watching standup comedy, producing music, exploring new 
				| places, and hanging out with friends.

	section#projects.flex
		div
			// featured projects
		div
			// api call for github stats

	section#trading.flex
		div
			// api call for alpaca stats
		div
			p
				| My interest in finance started when ___.
				| While the allure of getting rich is definitely present, I was 
				| more intrigued by the unspoken challenge of beating the impossible (?)
			p
				| My current trading strategy is split evenly between curve
				| fitting prices to predict the performance of moderately volatile 
				| stocks, and catching and riding asset uptrends as they form.

	// potential music section

	// potential advice/about section

	// blog section?

	footer
			// copyright with api call for year
		div
			// email subscription
	
