doctype html
html
	head
		title= title
		link(rel='stylesheet/less', type='text/css', href='/stylesheets/styles.less')
		script(src='//cdnjs.cloudflare.com/ajax/libs/less.js/3.11.1/less.min.js')
		meta(name='viewport', content='width=device-width, initial-scale=1')
	body
		block content
