<!DOCTYPE html>
<html lang="en-us">
<head>
	<title>Sarvesh Kalwit | Home</title>

	<link rel="stylesheet" href="../static/css/styles.css">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
	<!--content-->
	<div id="home-content">
		<h1 class="impact">Sarvesh Kalwit</h1>
		<h3 class="impact">- deus ex machina -</h3>
		<h5 class="impact">(in training)</h5>
	</div>


	<!--navbar-->
	<!--
		img credits for all imgs:
		(https://www.flaticon.com/authors/freepik)
		from searches house, rocket, info, email
	-->
	<nav>
		<div class="nav-elem">
			<a href="index.html">
				<img src="../static/images/icons/home.png">
			</a>
			<p>home</p>
		</div>
		<div class="nav-elem">
			<a href="ventures.html">
				<img src="../static/images/icons/ventures.png">
			</a>
			<p>ventures</p>
		</div>
		<div class="nav-elem">
			<a href="about.html">
				<img src="../static/images/icons/about.png">
			</a>
			<p>about</p>
		</div>
		<div class="nav-elem">
			<a href="contact.html">
				<img src="../static/images/icons/contact.png">
			</a>
			<p>contact</p>
		</div>
	</nav>


	<!--quote-->
	<div id="home-quote">
		<div id="home-quote-content">
			<a href="..static/quote.txt">
				<p class="impact">
					My first act of free will
					shall be to believe in free will.
				</p>
			</a>			
		</div>
		
		<div id="home-quote-author">
			<p class="impact">William James</p>
		</div>
	</div>
</body>
</html>
