{% extends 'blueprint.html' %}

{% block head %}
	<title>Sarvesh Kalwit | Mailing</title>
{% endblock %}

{% block body %}
	<!--content-->
	<div id="mailing-content">
		<h4>join my mailing list to receive updates on my newest endeavors</h4>

		<form action="emails.php" method="post">
			<input type="text" name="email"
				placeholder="your.email@mail.com" autofocus>
			<br>

			<input type="image" src="../static/images/icons/subscribe.png"
				alt="subscribe" name="subscribe">
			<p>subscribe</p>

			<input type="image" src="../static/images/icons/unsubscribe.png"
				alt="unsubscribe" name="unsubscribe">
			<p>unsubscribe</p>
		</form>

		<p id="mailing-msg"></p>
		
		<!--you have successfully subscribed. welcome to my journey!-->
		<!--you have successfully unsubscribed. i'm sorry to see you go!-->
	</div>
{% endblock %}
