{% extends 'blueprint.html' %}

{% block head %}
	<title>Sarvesh Kalwit | Projects</title>
{% endblock %}

{% block body %}
	<div id="project-container">
		<!--list of projects-->
		<div id="div-project-list">
			<ul id="project-list">
				<li class="project" id="project-split">
					<span class="emoji">💰</span>
					<b>Split</b>
				</li>

				<li class="project" id="project-autoflightcheckin">
					<span class="emoji">✈️</span>
					<b>Auto Flight Check-In</b>
				</li>

				<li class="project" id="project-supremebot">
					<span class="emoji">🤖</span>
					<b>Supreme Bot</b>
				</li>

				<li class="project" id="project-ratemylift">
					<span class="emoji">💪</span>
					<b>RateMyLift</b>
				</li>
			</ul>
		</div>

		<!--project description-->
		<div id="div-proj-desc">
			<span class="proj-name"></span>
			<br>
			
			<div class="proj-awards">

			</div>
			
			<div class="proj-desc">
			
			</div> 
		</div>

		<!--project demo-->
		<div id="div-proj-demo">
		
		</div>
	</div>
{% endblock %}
