{% extends 'blueprint.html' %}

{% block head %}
	<title>Sarvesh Kalwit | Ventures</title>
{% endblock %}

{% block body %}
	<div id="venture-container">
		<!--list of ventures-->
		<div id="div-ventures-list">
			<ul id="ventures-list">
				<li class="venture" id="venture-split">
					<span class="emoji">💰</span>
					<b>Split</b>
				</li>

				<li class="venture" id="venture-autoflightcheckin">
					<span class="emoji">✈️</span>
					<b>Auto Flight Check-In</b>
				</li>

				<li class="venture" id="venture-supremebot">
					<span class="emoji">🤖</span>
					<b>Supreme Bot</b>
				</li>

				<li class="venture" id="venture-ratemylift">
					<span class="emoji">💪</span>
					<b>RateMyLift</b>
				</li>
			</ul>
		</div>

		<!--project description-->
		<div id="div-proj-desc">
			<span class="proj-name"></span>
			<br>
			
			<div class="proj-awards">

			</div>
			
			<div class="proj-desc">
			
			</div> 
		</div>

		<!--project demo-->
		<div id="div-proj-demo">
		
		</div>
	</div>
{% endblock %}
