{% extends 'blueprint.html' %}

{% block head %}
	<title>Sarvesh Kalwit | Ventures</title>
{% endblock %}

{% block body %}
	<div id="venture-container">
		<!--list of ventures-->
		<ul id="ventures-list">

			<li class="venture">
				<span class="date">WIP 2020</span>
				<span class="emoji">💰</span>
				<b>Split</b>
			</li>
			<li class="venture" id="venture-split">
				<span class="date">WIP 2020</span>
				<span class="emoji">💰</span>
				<b>Split</b>
			</li>

			<li class="venture" id="venture-autoflightcheckin">
				<span class="date">WIP 2019</span>
				<span class="emoji">✈️</span>
				<b>Auto Flight Check-In</b>
			</li>

			<li class="venture" id="venture-supremebot">
				<span class="date">Sep 2019</span>
				<span class="emoji">🤖</span>
				<b>Supreme Bot</b>
			</li>

			<li class="venture" id="venture-ratemylift">
				<span class="date">Dec 2018</span>
				<span class="emoji">💪</span>
				<b>RateMyLift</b>
			</li>
		</ul>
	</div>

{% endblock %}
